@import 'imports/reset';
@import 'imports/Mixins';
@import 'imports/highlightstyle';
$main-color:#3470c9;
$breakpoint:768px;

html{
  background-color:#edf3f4;
  font-family : Arial;
  width:100%;
}

body{
  width:100%;
  text-align: center;
  position:relative;
  min-height:100vh;
}

header{
  background-color:$main-color;
  height:50px;
  width:100%;
  font-family : "Arial Bold", Arial;
  color:white;
  position:relative;
  text-align: center;
  .header{
    display:inline-block;
    height:100%;
    width:100%;
    max-width: 1000px;
    position:relative;
  }
  .left{
    position:absolute;
    font-size:2em;
    color:white;
    text-decoration: none;
    left:5px;
    top:50%;
    transform:translateY(-50%);
    font-weight: 600;
  }
  .right{
    font-weight: 600;
    margin-left:auto;
    position:absolute;
    right:0px;
    top:50%;
    transform:translateY(-50%); 
    a{
      padding-right:10px;
      font-family : Arial;
      color:white;
      text-decoration: none;
      font-size:1.5em;
      position:relative;
      opacity: 0.7;
      transition: all .1s;
      &:hover{
        opacity:1;
      }
    }
  } 
  .splitter{
    font-size:2em;
    position: relative;
    top:5px;
  }
}

footer{
  font-family : Arial;
  background-color:$main-color;
  position:absolute;
  left:0px;
  bottom:5px;
  height:50px;
  width:100%;
  text-align: center;
  color:white;
  .footer{
    position:relative;
    display:inline-block;
    height:100%;
    width:100%;
    max-width: 1000px;
    .footer__text{
      font-size:.7em;
    }
  }
  a{
    color:white;
    text-decoration: none;
    position:absolute;
    left:5px;
    top:50%;
    transform:translateY(-50%);
  }
}

.blogbody__navigation{
  .navigation__item{
    position:relative;
    display:inline-block;
    color:white;
    height:20px;
    width:20px;
    font-size:2em;
    padding:10px;
    vertical-align:top;
    background-color:$main-color;
    .item__content{
      position:absolute;
      left:50%;
      top:50%;
      transform:translateX(-50%) translateY(-50%);
    }
  }
}

.blogbody{
  margin-bottom:70px;
  margin-top:30px;
  display:inline-block;
  width:100%;
  max-width:1000px; 
  text-align: center;
  .blogbody__posts{
    display:inline-block;
    width:100%;
  }
}

.post{
  margin-bottom:10px;
  text-align: left;
  width:95%;
  display:inline-block;
  .post__title{
    color:$main-color;
    font-size:2em;
    font-weight:600;
    display:inline-block;
    text-decoration: none;
  }
  .post__date{
    font-size:1em;
    margin-top:5px;
    margin-left:10px;
  }
  .post__underline{
    margin-left:10px;
    height:5px;
    width:100px;
    background-color:$main-color;
    margin-top:5px;
  }
  .post__body{
    line-height: 1.7;
    margin-top:5px;
    margin-left:10px;
  }
  .post__readme{
    text-align: right;
    color:#3470c9;
    display:block;
    text-decoration: none;
  }
  .post__fullbody{
    line-height: 1.7;
    > *{
      margin-top:20px;
    }
    p{
      margin-top:20px;
      img{
        display:block;
        margin-left: auto;
        margin-right:auto;
      }
      img+strong{
        display:block;
        text-align: center;
      }
    }
    hr{
      border:solid 1px $main-color;
    }
    h1{
      font-size:1.5em;
      font-weight:600;
      color:$main-color;
    }
    .highlight{
      padding:20px;
      border:solid 2px $main-color;
    }
    ul{
      li{
        list-style: circle;
      }
    }
    table{
      thead{
        tr{
          th{
            text-align: center !important;
            border:solid 1px $main-color;
            padding-left:10px;
            padding-right:10px;
          }
        }
      }
      tbody{
       tr{
         td{
           border:solid 1px $main-color;
           padding-left:10px;
           padding-right:10px;
         }
         &:nth-of-type(odd){
          background-color:#d0dfe2;
         }
        } 
      }
    }
    blockquote{
      background-color:#d0dfe2;
      margin-left:20px;
      position:relative;
      &:before{
        content:"";
        height:100%;
        width:5px;
        position:absolute;
        left:-20px;
        top:0px;
        background-color:$main-color;
      }
    }
  }
}

.fullpost{
  display:inline-block;
  width:100%;
  max-width: 1000px;
  margin-top:30px;
  margin-bottom: 200px;
  text-align: left;
  .fullpost__post{
    width:95%;
    display:inline-block;
    margin-left:20px;
  }
}
