<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="header">
        <a href="/" class="left">
          {{site.topleft}}
        </a>
        <div class="right">
          {% for link in site.data.Links %}
            <a href="{{link.url}}">{{link.name}}</a>
          {% endfor %}
        </div>   
      </div>
    </header>
    {{content}}
    <footer>
      <div class="footer">
        <a class="footer__text" href="http://github.com/reedkrawiec" target="_blank">
          Star Theme By Reed Krawiec
        </a>
      </div>
    </footer>
  </body>  
</html>      